<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- init stylesheets -->
    <link rel ='stylesheet' href="../public/stylesheets/blank.css"/>
    <link rel ='stylesheet' href="../public/stylesheets/palette.css"/>
    <link rel ='stylesheet' href="../public/stylesheets/font.css"/>
    <link rel ='stylesheet' href="../public/stylesheets/style.css"/>
    <link rel ='stylesheet' href="../public/stylesheets/modal.css"/>


    <script src="../public/javascripts/lib/jquery-3.4.1.min.js"></script>
    <script src="../public/javascripts/lib/jquery-ui-1.11.4.min.js"></script>



    <link rel ='stylesheet' href="../public/stylesheets/public.css"/>



    <script src="../public/javascripts/public.js"></script>
    <script src="../public/javascripts/index.js"></script>
    <script src="../public/javascripts/modal/publicModal.js"></script>
    <title>Coin Buying : 나의 가상자산 포트폴리오</title>

</head>

<body>
    <div class = "wrap">
        <div class = "container">
            <div class = "public-size">
                <div class = "public-header">
                    <div class = "header-wrap">
                        <div class ="nav-item page-logo">
                            CoinBuying
                        </div>
                        <div class ="nav-item register">
                            <p id = "sign_in" class = "skeleton-list-item">로그인</p>
                            <p id = "sign_up" class = "skeleton-list-item">회원가입</p>
                        </div>
                    </div>
                </div>
                <div class = "public-contents">

                </div>

                <div class = "public-footer">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
