.wrap {
    overflow: auto;
    height: 100%;
    
}

.container {
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
}

.public-size {
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.public-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EFEFEF;
}

.nav-item  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrap > .register {
    justify-content: space-between;
    width: 120px;
}

.register > p:nth-child(1) {
    margin-right: 8px;
}

.header-wrap {
    display: flex;
    max-width: 1140px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 80%;
}



.public-contents {
    background-color: #FFFFFF;
    height: 100%;
}

.public-footer {
    height: 120px;
    background-color: yellow;

}

.public_button {
    min-width: 88px;
    /* max-width: 124px; */
    height: 40px;
    /* margin: 0 4px 0 4px; */
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    background-color: #0098fe;
    color: white;
    padding: 0 12px 0 12px;
}



.public_button:hover {
    min-width: 88px;
    /* max-width: 124px; */
    height: 40px;
    /* margin: 0 4px 0 4px; */
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    background-color: #287be8;
    color: white;
    padding: 0 12px 0 12px;
}

.public_empty_button {
    min-width: 88px;
    /* max-width: 124px; */
    height: 40px;
    /* margin: 0 4px 0 4px; */
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #575757;
    padding: 0 12px 0 12px;
    border: 1px solid #a8a8a8;
}



.public_empty_button:hover {
    min-width: 88px;
    /* max-width: 124px; */
    height: 40px;
    /* margin: 0 4px 0 4px; */
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    background-color: #f6f6f8;
    color: #575757;
    padding: 0 12px 0 12px;
    border: 1px solid #a8a8a8;
}

.public_text {
    min-width: 47px;
    height: 24px;
    /* margin: 0 4px 0 4px; */
    padding: 0 10px 0 10px;
    background-color: #f6f6f7;
    border-radius: 6px;
    border: solid 1px #a8a8a8;
    box-sizing: border-box;
    outline: none;
}

.coinbuying_login_group{
    display: flex;
    width: 230px;
}

.register > p{
    cursor: pointer;
}